html, body{
    float: none;
    margin: 0px;
    scroll-behavior: smooth!important;
}
@font-face{
    font-family: 'rocko-flf';
    src:url('./fonts/RockoFLF-Bold/RockoFLF.ttf')
}
.asap{
    font-family: 'Asap', sans-serif!important;

}
.fullScreen{
    min-height: 80vh!important;
    height: 80vh!important;
}
/* h1,h2,h3,h4,h5,h6{
    font-family: 'rocko-flf', sans-serif!important;
    
} */
.logo{
    font-weight: 700;
    font-family: 'rocko-flf';

}
p{
    font-family: 'Asap', sans-serif!important;
    font-weight: 400!important;
}
.odsBox{
    text-align: left;
    height: 200px!important;
    width: 200px!important;
    background: inherit!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ods4{
    border:3px #c31f33 solid!important;
    color: #c31f33!important;
    transition: 0.7s;
}
.ods4:hover{
    background-color: #c31f33!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods10{
    border:3px #e11484 solid!important;
    color: #e11484!important;
    transition: 0.7s;
}
.ods10:hover{
    background-color: #e11484!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods11{
    border:3px #f99d26 solid!important;
    color: #f99d26!important;
    transition: 0.7s;
}
.ods11:hover{
    background-color: #f99d26!important;
    color: #ffffff!important;
    cursor: pointer;
}
.ods12{
    border:3px #cf8d2a solid!important;
    color: #cf8d2a!important;
    transition: 0.7s;
}
.ods12:hover{
    background-color: #cf8d2a!important;
    color: #ffffff!important;
    cursor: pointer;
}
.bg-inherit{
    background-color: inherit!important;
}
.teamImage{
    border-radius: 50%;
    width: 150px!important;
}
.imgBadge{
    width: 50px!important;
}
.scoolitButton{
    background-color: #0a6347!important;
    color:#ffffff!important;
    transition: 0.5s;
    font-family: 'Asap', sans-serif!important;

}
.scoolitButton:hover{
    background-color: #1e8866!important;
}
a{
    color: #0a6347!important;
    font-family: 'Asap', sans-serif!important;
    font-weight: 500!important;
}
.active{
    background-color: #0a6347!important;
    color:#ffffff!important;
}
.scroll{
    padding-top: 70px!important;
}
.greenBg{
    background-color: #0a6347!important;
}
.green{
    color:#0a6347!important;
}
.greenBgMint{
    background-color: #f7fffb!important;
}
.border-mint{
    border-color:#f7fffb!important;
}
.imgLogo{
    width: 150px!important;
}
@media (max-width: 700px) {
    .imgLogo{
        width: 70px!important;
    }
}
.noList{
    list-style: none!important;
}
.img-responsive{
    max-height: 200px;
}
        /* Set the border color */ 
          
        .custom-toggler.navbar-toggler { 
            border-color: #04543f; 
        } 
        /* Setting the stroke to green using rgb values (0, 128, 0) */ 
          
        .custom-toggler .navbar-toggler-icon { 
            background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 